*.3
*.lo
*.la
.libs
configure
config.status
config.log
Makefile.in
Makefile
config.h
config.h.in
autom4te*
config.guess
config.sub
ltmain.sh
missing
depcomp
ar-lib
aclocal.m4
compile
install-sh
libtool
stamp-h1
.deps
.svn

